<h1>New Message</h1>

<% if !current_user.admin? && !current_user.manager? %>
	<p>
	Your message will be sent to the Project Manager of the project selected
	</p>
<% else %>
	<p>
	Your message will be sent to the owner of the project selected
	</p>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>
