<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi <%= @user.firstname %> <%= @user.lastname %> !
    <p>
		Your company <%= @company.name %> has been successfully created.
    </p>
  </body>
</html>