<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi <%= @user.firstname %> <%= @user.lastname %> !
    <p>
		A new client file has been uploaded for the project <%= @project.title %>.
    </p>
  </body>
</html>