<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi <%= @user.firstname %> <%= @user.lastname %> ! 
    <p>
		The project <%= @project.title %> has been rejected by the client.
    </p>
  </body>
</html>