<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	Hi <%= @project.project_owner.firstname %> <%= @project.project_owner.lastname %> !
    <p>
		The status of your project has changed into <%= @project.status %>.
    </p>
  </body>
</html>